.notification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notification-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  transition: transform 0.3s ease;
}