// 优化 Element Plus 组件库默认样式

:root {
  // 系统主色
  --main-color: var(--el-color-primary);
  --el-color-white: white !important;
  --el-color-black: white !important;

  // 输入框边框颜色
  // --el-border-color: #E4E4E7 !important; // DCDFE6
  // 按钮粗度
  --el-font-weight-primary: 400 !important;
  --el-component-custom-height: 36px !important;
  --el-component-size: var(--el-component-custom-height) !important;

  // 边框、按钮圆角...
  --el-border-radius-base: calc(var(--custom-radius) / 3 + 2px) !important;
  --el-border-radius-small: calc(var(--custom-radius) / 3 + 4px) !important;
  --el-messagebox-border-radius: calc(var(--custom-radius) / 3 + 4px) !important;
  --el-popover-border-radius: calc(var(--custom-radius) / 3 + 4px) !important;
}

// -------------------------------- 修改 el-table 组件默认 --------------------------------
.el-table--border .el-table__cell {
  border-right: none !important;
  border-left: none !important;
}

.el-table--default {
  border-radius: 8px;
}

// -------------------------------- 修改 el-select 组件默认 --------------------------------
.el-select .el-select__wrapper {
  border: none;
  text-align: center;
  background-color: var(--default-box-bg);
}

// -------------------------------- 修改 el-pagination 组件默认 --------------------------------
.el-pagination.is-background .el-pager li.is-active {
  background-color: var(--zen-secondary) !important;
}

.el-pagination.is-background .btn-prev, .el-pagination.is-background .btn-next, .el-pagination.is-background .el-pager li{
  background-color: var(--default-box-bg) !important;
}