// 优化 Element Plus 组件库默认样式


// -------------------------------- 修改 el-input=default 组件默认 start --------------------------------
// el-input
.el-input {
  --el-input-height: 38px;

  width: 260px;

  .el-input__wrapper {
    border-radius: $radius-xl;
    background-color: var(--primary-color-lighter);
    box-shadow: none;

    .el-input__inner {
      &::placeholder {
        font-size: $font-size-sm;
        font-weight: 500;
        color: var(--text-tertiary);
      }
    }
  }
}

// -------------------------------- 修改 el-input=default 组件默认 end --------------------------------
