@use '@styles/index.scss' as *;

.layout-sidebar {
  display: flex;
  height: 100vh;
  user-select: none;
  scrollbar-width: none;

  &.no-border {
    border-right: none !important;
  }

  .menu-left {
    box-sizing: border-box;
    height: 100vh;

  }

  .header {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
  }
  .logo {
    margin-left: 22px;
  }

  p {
    position: absolute;
    left: 58px;
    top: 0;
    bottom: 0;
    margin-left: 10px;
    font-size: 18px;
  }

  .el-menu {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    background-color: var(--bg-tertiary);
    overflow-y: auto;
    overscroll-behavior: contain;
    border-right: 0;
    scrollbar-width: none;
  }

  .menu-model {
    display: none;
  }
}