@use "@styles/index.scss" as *;

.layout-sidebar {
  display: flex;
  height: 100vh;
  user-select: none;
  scrollbar-width: none;

  &.no-border {
    border-right: none !important;
  }

  .menu-left {
    height: 100vh;
    box-sizing: border-box;
  }

  .header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    cursor: pointer;

    .logo {
      margin-left: 20px;
    }

    p {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 58px;
      margin-left: 10px;
      font-size: 18px;
    }
  }

  .el-menu {
    height: calc(100vh - 60px);
    box-sizing: border-box;
    border-right: 0;
    background-color: var(--bg-tertiary);
    overflow-y: auto;
    overscroll-behavior: contain;
    scrollbar-width: none;
  }

  .menu-model {
    display: none;
  }
}
