@use "@/assets/styles/index.scss" as *;

.app-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-primary);

  .app-sidebar{
    background-color: var(--bg-tertiary);
  }

  #app-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    height: 100vh;
    overflow: auto;

    .app-header {
      position: sticky;
      top: 0;
      z-index: 200;
      flex-shrink: 0;
      width: 100%;
    }

    .app-content {
      flex: 1;
      
      :deep(.layout-content) {
        box-sizing: border-box;
        width: calc(100% - 40px);
        margin: auto;

        // 子页面默认 style
        .page-content {
          position: relative;
          box-sizing: border-box;
          padding: 20px;
          overflow: hidden;
          background: var(--art-main-bg-color);
          border-radius: calc(var(--custom-radius) / 2 + 2px) !important;
        }
      }
    }
  }
}