:deep(.table-size-btn-item) {
  .el-dropdown-menu__item {
    margin-bottom: 3px !important;
  }

  &:last-child {
    .el-dropdown-menu__item {
      margin-bottom: 0 !important;
    }
  }
}

:deep(.is-selected) {
  background-color: rgb(var(--art-gray-200-rgb), 0.8) !important;
}

.table-header {
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
  }

  .right {
    display: flex;
    align-items: center;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-left: 8px;
      border-radius: 6px;
      color: var(--art-gray-700);
      background-color: rgb(var(--art-gray-200-rgb), 0.8);
      cursor: pointer;
      transition: all 0.3s;

      i {
        font-size: 16px;
        color: var(--art-gray-700);
        user-select: none;
      }

      &:hover {
        background-color: rgb(var(--art-gray-300-rgb), 0.75);

        i {
          color: var(--art-gray-800);
        }
      }

      &.loading {
        i {
          color: var(--art-gray-600);
          animation: loading-spin 1s linear infinite;
        }
      }

      &.active {
        background-color: var(--el-color-primary);

        i {
          color: #fff;
        }

        &:hover {
          background-color: var(--el-color-primary-light-3);

          i {
            color: #fff;
          }
        }
      }
    }
  }
}

:deep(.column-option) {
  display: flex;
  align-items: center;

  .drag-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    margin-right: 8px;
    color: var(--art-gray-500);
    cursor: move;

    i {
      font-size: 18px;
    }

    &.disabled {
      color: var(--art-gray-300);
      cursor: default;
    }
  }
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
