.setting {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.setting:hover {
  background-color: rgb(0 0 0 / 4%);
}

.setting-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.setting:hover .setting-icon {
  transform: rotate(360deg);
}
