@charset "UTF-8";

// 引入变量和混合器
@use 'base/variables.scss' as variables;
@use 'base/mixins.scss' as mixins;

/**
 * ------------------------------------
 * 全局基础样式
 * 1rem = 10px，方便计算
 * ------------------------------------
 */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: variables.$dark-color;
  line-height: 1.5;
  font-family: variables.$base-font-family;
  font-size: variables.$base-font-size;
  background-color: variables.$light-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font-family;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: variables.$primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input,
textarea,
select {
  padding: 0.8rem 1.2rem;
  border: 1px solid variables.$secondary-color;
  transition: border-color 0.3s ease;
  border-radius: variables.$border-radius-base;

  &:focus {
    border-color: variables.$primary-color;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: variables.$primary-color;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background: variables.$light-color;
}

::-webkit-scrollbar-thumb {
  background: variables.$secondary-color;
  border-radius: variables.$border-radius-base;

  &:hover {
    background: variables.$dark-color;
  }
}

.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}